* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #d9eff7;
  user-select: none;
}

.wrapper {
  height: 90%;
  background: #f9ce69;
  width: 30%;
  border-radius: 24px;
  box-shadow: #222 2px 2px 2px 1px, #222 -2px -2px 2px 1px;
}

.container {
  width: 100%;
  height: 100%;
  padding: 20px;
  position: relative;
}

h1 {
  text-align: center;
  font-size: 2.5em;
  margin-bottom: 50px;
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 50px;
}

.item1 {
  animation: move-left 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@keyframes move-left {
  from {
    transform: translate(1000px);
  }
  to {
    transform: translate(0px);
  }
}

.item2 {
  animation: move-right 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@keyframes move-right {
  from {
    transform: translate(-1000px);
  }
  to {
    transform: translate(0px);
  }
}

.img-wrapper {
  height: 120px;
  margin-right: 20px;
}

img {
  height: 100%;
  border-radius: 50%;
}

.quantity-wrapper {
  display: flex;
  align-items: center;
  button:not(:last-child) {
    height: 25px;
    width: 28px;
    font-size: x-large;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-inline: 7px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
  }
}

span {
  font-size: 1.5em;
}
button#like,
button#heart {
  background-color: transparent;
  border: none;
}
svg {
  font-size: 1.5em;
  margin-left: 20px;
  cursor: pointer;
  transition: all 0.3s linear;
  &:hover {
    transform: scale(1.2);
  }
}
.total-price {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.total-price:first-child {
  margin-left: 30px;
}
.checkout-btn {
  display: flex;
  justify-content: center;
  position: absolute;
  left: 0;
  bottom: 50px;
  width: 100%;
  button {
    width: auto;
    padding: 25px;
    display: flex;
    align-items: center;
    font-size: 2em;
    height: 25px;
    cursor: pointer;
    border-radius: 24px;
    transition: all 0.3s linear;
    animation: grow 2s cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  button:hover {
    background-color: #2ff42f;
  }
}

@keyframes grow {
  from {
    transform: scale(-1);
  }
  to {
    transform: scale(1);
  }
}

#productPrice {
  font-size: 1.5em;
  color: #444;
}
